<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car</title>
    <link rel="stylesheet" href="/css/carsForm.css">
</head>
<body>
    <h1>Cadastrar carro</h1>
    <form action="/cars/save" method="POST">
        <div>
            <input type="text" name="name" placeholder="Digite a marca">
        </div>
        <div>
            <input type="text" name="money" placeholder="Digite o valor">
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
    <p id="area"></p>
</body>
</html>